{%- assign path = page.cs_img_path -%}
{%- for project in site.data.casestudies -%}
    {%- assign i = forloop.index -%}
    {%- if project.name == include.title -%}
        {%- for img in project.images -%}
            {%- assign j = forloop.index -%}
            {%- capture fullpath -%}
            {{ path }}{{ img.link }}
            {%- endcapture -%}
<figure role="group" aria-labelledby="fig-{{ i }}-{{ j }}-capt">
    <img src="{% link {{ fullpath }} %}"
         alt="{{ img.title }}" />
    <figcaption id="fig-{{ i }}-{{ j }}-capt">Fig 0{{ i }}.0{{ j }} {{ img.title }}</figcaption>
</figure>
        {%- endfor -%}
    {%- endif -%}
{%- endfor -%}
