{%- assign pagetitle = include.title -%}
{%- assign cs = site.data.casestudies | where: "name", include.title -%}
{%- assign i = include.num -%}
{%- assign path = page.cs_img_path -%}
{% comment %}
{%- assign images = cs.images -%}
{%- assign img = images[i] -%}
{%- assign imgtitle = img.title -%}
{%- assign imglink = img.link -%}
{% endcomment %}
{%- capture imgtitle -%}
    {%- if cs.images[0] -%}
        {%- for img in cs.images  -%}
            {%- if forloop.index0 = i -%}
                {{ img.title }}
                {%- break -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endcapture -%}
    - images: {% if images %}{{ images }}{% else %}null{% endif %}
    - img: {% if img %}{{ img }}{% else %}null{% endif %}
    - imgtitle: {% if imgtitle %}{{ imgtitle }}{% else %}null{% endif %}
    - imglink: {% if imglink %}{{ imglink }}{% else %}null{% endif %}
    - image: ![{{ imgtitle }}]({{ path }}{{ imglink }} "{{ imgtitle }}")
