{%- assign cs = site.data.casestudies | where: "name", include.page_title -%}
{%- assign num = include.num -%}
{%- assign path = site.cs_img_path -%}
{% comment %}
{%- assign images = site.cs_img_path[num] -%}
{%- assign imgtitle = images.title -%}
{%- assign imglink = images.link -%}
{% endcomment %}
    - num: {%- if num -%}{{ num }}{%- else -%}null{%- endif -%}
    - path: {%- if path -%}{{ path }}{%- else -%}null{%- endif -%}
    - images: {%- if images -%}{{ images }}{%- else -%}null{%- endif -%}
    - imgtitle: {%- if imgtitle -%}{{ imgtitle }}{%- else -%}null{%- endif -%}
    - imglink: {%- if imglink -%}{{ imglink }}{%- else -%}null{%- endif -%}
    - image: ![{{ imgtitle }}]({{ path }}{{ imglink }} "{{ imgtitle }}")
