<footer>
  <p>&copy; 2020 Oren Kravetz. All Rights Reserved.</p>
  <ul>
    <li><a href="mailto:contact@orenkravetz.com">Email</a></li>
    <li>
      <a href="https://www.facebook.com/okravetz" target="_blank">Facebook</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/okravetz" target="_blank">LinkedIn</a>
    </li>
    <li>
      <a href="https://www.twitter.com/okravetz" target="_blank">Twitter</a>
    </li>
    <li>
      <a href="https://www.tumblr.com/okravetz" target="_blank">Tumblr</a>
    </li>
    <li>
      <a href="https://www.instagram.com/okravetz" target="_blank">Instagram</a>
    </li>
  </ul>
</footer>
