<a href="#cont" class="skip">Skip to Main Content.</a>
{%- if page.url == "/" -%}
<img src="{{ site.baseurl }}{%- link assets/images/headshot.jpg -%}" alt="Headshot of Oren Kravetz" />
{%- endif -%}
<a href="{{ site.baseurl }}{%- link index.html -%}" {% if page.url == "/" %} aria-current="page"{% endif %}>
  <h1>Oren Kravetz</h1>
</a>
<nav aria-label="Main Navigation">
  <ul>
    {%- for item in site.data.navigation -%}
    <li><a href="{{ site.baseurl }}{%- link index.html -%}#{{ item.name | downcase | slugify: "latin" }}" {% if page.url == "/" %} aria-current="page"{% endif %}>{{ item.name }}</a></li>
    {%- endfor -%}
  </ul>
</nav>
