@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400|Yeseva+One&display=swap");

$display: "Yeseva One", Georgia, serif;
$body: "Fira Sans", Verdana, sans-serif;
$regular: 400;
$light: 300;
$default-color: #333;
$link-color: #6636ce;
$link-color-active: #3d1f7f;
$base-size: 16px;
$display-line-height: 1.15;
$body-line-height: 1.45;
$background-color: white;
$transition-time: 0.3s;
// https://codepen.io/sosuke/pen/Pjoqqp
$filter-hover: invert(21%) sepia(77%) saturate(3368%) hue-rotate(253deg)
  brightness(84%) contrast(91%);
$filter-base: invert(20%) sepia(0%) saturate(1482%) hue-rotate(160deg)
  brightness(91%) contrast(95%);
$breakpoint-large: 1440px;
$breakpoint-medium: 768px;
$breakpoint-small: 425px;

@mixin center-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  font-size: $base-size;
}

body {
  background-color: $background-color;
  font: {
    family: $body;
    weight: $regular;
  }
  line-height: $body-line-height;
  color: $default-color;
  @include center-align;
  margin: 0 auto;
  width: 85.5555556%;
  max-width: 77em;
}

p {
  font-size: 1em;
  margin-bottom: 1.25em;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-family: $display;
  font-weight: $regular;
  line-height: $display-line-height;
}

h1 {
  font-size: 3.052em;
  text-align: center;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
  margin: 1rem auto;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

a {
  &:link,
  &:visited {
    color: $default-color;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: $link-color;
    text-decoration: underline;
  }
}

a:active {
  color: $link-color-active;
  text-decoration: underline;
}

header {
  margin: 2.5rem 0;
  @include center-align;

  nav {
    ul {
      list-style: none;
      padding-left: 0px;

      li {
        float: left;
        padding: 1.5rem;
      }
    }
  }
}

main {
  width: 100%;
}

.skip {
  position: absolute;
  left: -200px;

  &:focus {
    left: 0.5em;
  }
}

#bio,
#work,
#figures {
  visibility: hidden;
  margin: 0;
  line-height: 0;
}

#resume,
#contact {
  margin: 2.5rem auto 1rem auto;
  text-align: center;
}


.col2 {
  columns: 2;
  column: {
    width: 26rem;
    gap: 2rem;
  }
}

#resume-link {
  text-align: center;
  margin-bottom: 2rem;
}

.resume-image {
  display: block;
  width: 100%;
  max-width: 77rem;
}

.overlay-container {
  position: relative;
  width: 100%;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: $transition-time ease;
    background-color: $link-color;
  }

  &:hover .overlay {
    opacity: 0.8;
  }
}

.overlay-text {
  color: $background-color;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

ul.contact {
  list-style: none;
  padding-left: 0px;
  margin: 2.5rem auto;
  display: flex;
  flex: {
    direction: row;
    wrap: wrap;
  }
  justify-content: space-between;
  width: 50%;

  li {
    float: left;
    padding: 1rem;
    text-align: center;
    flex: 0 1 calc(50% - 2rem)

    a {

      img {
        filter: $filter-base;
        height: 2rem;
        width: 2rem;
      }

      img:hover {
        transition: $transition-time ease;
        filter: $filter-hover;
      }
    }
  }
}

footer {
  @include center-align;
  width: 100%;

  .copyright {
    text-align: center;
    margin: 1rem 0;
  }
}

.cs-container {
  display: flex;
  flex: {
    direction: row;
    wrap: wrap;
  }
  justify-content: space-between;
  align-items: flex-start;
  margin: 2.5rem 0;

  .cs-card {
    flex: 0 1 calc(50% - 1em);
    padding-bottom: 2rem;

    .cs-logo {
      width: 100%;
      display: block;
    }

    p {
      margin-bottom: 0.25em;
    }

    .cs-description {
      font-size: 1.25em;
    }

    .cs-details {
      font-weight: $light;

      .cs-role {
        padding-left: 3rem;
      }
    }
  }
}

.casestudy-container {
  display: flex;
  flex: {
    direction: row;
    wrap: wrap;
  }
  justify-content: space-between;
  align-items: flex-start;

  div {
    flex: 0 1 calc(50% - 1em);
  }

  .cs-title {
    h2 {
      margin-top: 0;
    }
    
    p {
      margin-bottom: 0.25em;
    }

    .cs-description {
      font-size: 1.25em;
    }

    .cs-details {
      font-weight: $light;

      .cs-role {
        padding-left: 3rem;
      }
    }
  }

  .cs-figures {
    figure {
      margin: 0 0 2rem 0;
      
      img {
        width: 100%;
      }

      figcaption {
        font-weight: $light;
      }
    }
  }
}

.sitemap {
  padding-right: 3rem;
}

@media screen and (max-width: $breakpoint-small) {
  header nav ul li {
    padding: 1rem;
  }
  .cs-container {
    flex-direction: column;

    .cs-card {
      flex: 0 1 100%;
    }
  }

  .casestudy-container {
    flex-direction: column;

    div {
      flex: 0 1 100%;
    }
  }

  #figures {
    visibility: visible;
    margin: 1rem 0;
    line-height: 1.15;
  }
}
