@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400|Yeseva+One&display=swap");

$display: "Yeseva One", Georgia, serif;
$body: "Fira Sans", Verdana, sans-serif;
$regular: 400;
$light: 300;
$default-color: #333;
$link-color: #6636ce;
$link-color-active: #3d1f7f;
$base-size: 16px;
$display-line-height: 1.15;
$body-line-height: 1.45;
$background-color: white;
$transition-time: 0.3s;
// https://codepen.io/sosuke/pen/Pjoqqp
$filter-hover: invert(21%) sepia(77%) saturate(3368%) hue-rotate(253deg)
  brightness(84%) contrast(91%);
$filter-base: invert(20%) sepia(0%) saturate(1482%) hue-rotate(160deg)
  brightness(91%) contrast(95%);

@mixin center-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  font-size: $base-size;
}

body {
  background-color: $background-color;
  font-family: $body;
  font-weight: $regular;
  line-height: $body-line-height;
  color: $default-color;
  @include center-align;
  margin: 0 auto;
  width: 77em;
}

p {
  margin-bottom: 1.25em;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-family: $display;
  font-weight: $regular;
  line-height: $display-line-height;
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
  margin: 1rem auto;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

a:link,
a:visited {
  color: $default-color;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $link-color;
  text-decoration: underline;
}

a:active {
  color: $link-color-active;
  text-decoration: underline;
}

header {
  margin: 2.5rem 0;
  @include center-align;

  nav {
    ul {
      list-style: none;
      padding-left: 0px;

      li {
        float: left;

        a {
          padding: 1.5rem;
        }
      }
    }
  }
}

main {
  width: 100%;
}

#bio,
#work {
  display: none;
}

#resume,
#contact {
  margin: 2.5rem auto 1rem auto;
  text-align: center;
}

.col2 {
  columns: 2;
  column-width: 24rem;
  column-gap: 2rem;
}

#resume-link {
  text-align: center;
  margin-bottom: 2rem;
}

.resume-image {
  display: block;
  width: 100%;
  max-width: 77rem;
}

.resume-container {
  position: relative;
  width: 100%;
}

.resume-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: $transition-time ease;
  background-color: $link-color;
}

.resume-container:hover .resume-overlay {
  opacity: 0.8;
}

.resume-overlay-text {
  color: $background-color;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

ul.contact {
  list-style: none;
  padding-left: 0px;
  margin: 2.5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 37.5em;

  li {
    float: left;

    a {
      padding: 1.5rem;

      img {
        filter: $filter-base;
        height: 2em;
        width: 2em;
      }

      img:hover {
        transition: $transition-time ease;
        filter: $filter-hover;
      }
    }
  }
}

footer {
  @include center-align;
}

.cs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2.5rem 0;

  .cs-card {
    flex: 0 1 calc(50% - 1em);
    padding-bottom: 2rem;

    .cs-logo {
      width: 100%;
    }

    .cs-description {
      font-size: 1.25em;
    }
    
    .cs-details {
      font-weight: $light;
      
      .cs-role {
        padding-left: 3rem;
      }
    }
  }
}
