<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Oren Kravetz" />
    <meta
      name="description"
      content="Oren Kravetz's bio, résumé, portfolio, and contact information.{%- unless page.url == "/" -%} Case study for {{ page.title }} project.{%- endunless -%}"
    />
    <meta name="og:image" content ="{{ site.baseurl }}{{ link assets/images/headshot.jpg }}">
    <meta
      name="og:description"
      content="Oren Kravetz's bio, résumé, portfolio, and contact information.{%- unless page.url == "/" -%} Case study for {{ page.title }} project.{%- endunless -%}"
    />
    <meta
      name="og:title"
      content="Oren Kravetz's Portfolio{%- unless page.url == "/" -%} - {{ page.title }} Case Study{%- endunless -%}"
    />
    <meta
      name="twitter:title"
      content="Oren Kravetz's Portfolio{%- unless page.url == "/" -%} - {{ page.title }} Case Study{%- endunless -%}"
    />
    <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | relative_url }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">

    <!-- the below three lines are a fix to get HTML5 semantic elements working in old versions of Internet Explorer-->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      {%- if page.url == "/" -%}
      <img src="{{ site.baseurl }}{{ link assets/images/headshot.jpg }}" alt="Headshot of Oren Kravetz" />
      {%- endif -%}
      <a href="{{ site.baseurl }}{%- link index.html -%}" {%- if page.url == "/" -%} aria-current="page"{%- endif -%}>
        <h1>Oren Kravetz</h1>
      </a>
      {%- include navigation.html -%}
    </header>
    <main>
      {%- unless page.url == "/" -%}<article>{%- endunless -%}
        {{ content }}
      {%- unless page.url == "/" -%}</article>{%- endunless -%}
    </main >
    <footer>{%- include footer.html -%}</footer>
  </body>
</html>
